# CODEOWNERS - TeaTime
# Los cambios realizados en el repositorio deben ser revisados
# por al menos uno de los responsables antes de ser integrados.

* @mybloomcompany @matiasmirandamedina @vaaluum @yuu0017
